@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;  
    font-family: 'Work Sans', sans-serif;
    color: #454d66;
    background: #f2f2f2;

}

main {
    /* background: #f2f2f2; */
    display: grid;
    grid-template-columns: minmax(280px, 1fr);
    grid-gap: 1em;
    margin-bottom: 2em;
}

@media screen and (min-width: 600px) {
    main {
        /* grid-template-columns: 600px; */
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}